################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebAPI/.vs
/WebAPI/QuickLoanAPI/bin
/WebAPI/QuickLoanAPI/obj
