page-property-details {

    .heading{
        font-weight: 500;
        img{
            width: 15px;
            margin-right: 5px;
        }
    }
    ion-content{
        background: #fff !important;
        .owner-info{
            .col{
                padding: 20px 20px;
            }
        } 
        .basic-info{
            background: #f4f4f4;
            height: calc( 100% - 68px);
            padding: 0px;
            img{
               width: 100%;
               height: 330px; 
               border: 1px solid #f4f4f4;
            }
            .col{
                padding: 0px;
                font-weight: 500;
            }
            .currentAddress{
                margin: 20px auto;
                text-align: center;
            }
        }
        .gallery{
            min-height: 100%;
            background: #f4f4f4;
            margin-bottom: 68px;
            img{
                height: 150px;
            }
        }
    }

    .basic-info-toolbar{
        .property-info{
            .icon{
                width: 30px;
                float: left;
            }
            .total{
                font-size: 16px;
                position: relative;
                top: -8px;
                left: 5px;
            }
        }
    }
    .alert-md .alert-button-group{
        padding: 0px;
        padding-bottom: 20px;
    }

    .alert-md .alert-button{
        color: #fff;
    }

    .alert-md .alert-head {
        text-align: center;
    }
    
    .alert-md .alert-message{
        text-align: center;
    }

    .alert-md .alert-title {
        font-size: 22px;
        border-bottom: 1px solid gray;
        padding-bottom: 10px;
        color: #353434;
    }

    .alert-md .alert-button:last-child {
        color: #fff;
        background: #2ec95c;
    }

    .card-header-md {
        font-size: 1.6rem;
        color: #222;
        margin: 16px;
        padding-bottom: 6px;
        border-bottom: 1px solid;
    }

    .grid {
        background: #f7f7f7;
    }
}
