<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Property Details
    </ion-title>
    <ion-buttons end class="user-btn" (click)="userInfo()">
      <button ion-button icon-only>
        <ion-icon name="person" ios="ios-person" md="md-person"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- Segment buttons with icons -->
  <ion-segment [(ngModel)]="icons">
    <ion-segment-button #tab id="tab" value="camera" (click)="switchTabs('ownerInfo')" class="segment-button segment-activated">
      <img src="assets/imgs/OwnerInfo/owner.png" /> Owner
    </ion-segment-button>
    <ion-segment-button value="bookmark" (click)="switchTabs('basicInfo')">
      <img src="assets/imgs/OwnerInfo/information.png" /> Basic Info
    </ion-segment-button>
    <ion-segment-button value="gallery" (click)="switchTabs('gallery')">
      <img src="assets/imgs/OwnerInfo/gallery.png" /> Gallery
    </ion-segment-button>
  </ion-segment>

  <ion-grid *ngIf="tabStatus=='ownerInfo' && propertyDetails" class="owner-info">
    <ion-row>
      <ion-col class="heading">
        <img src="assets/imgs/OwnerInfo/real-state-seller.png" />
        <span> Owner</span>
      </ion-col>
      <ion-col>
        {{propertyDetails?.ownerFirstName}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="heading">
        <img src="assets/imgs/OwnerInfo/home.png" />
        <span> Property Type</span>
      </ion-col>
      <ion-col>
        {{propertyDetails?.propertyType}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="heading">
        <img src="assets/imgs/OwnerInfo/calendar.png" />
        <span> Year Built</span>
      </ion-col>
      <ion-col>
        {{propertyDetails?.yearBuilt}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="heading">
        <img src="assets/imgs/OwnerInfo/house-with-dollar-sign.png" />
        <span> Last Sold </span>
      </ion-col>
      <ion-col>
        {{propertyDetails?.lastSold | currency:'INR':true:'4.2-2'}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="heading">
        <img src="assets/imgs/OwnerInfo/price-tag.png" />
        <span> Price Per sqft </span>
      </ion-col>
      <ion-col>
        {{propertyDetails?.pricePerSqrt | currency:'INR':true}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="heading">
        <img src="assets/imgs/OwnerInfo/style.png" />
        <span> Style </span>
      </ion-col>
      <ion-col>
        {{propertyDetails?.propertyStyle}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="heading">
        <img src="assets/imgs/OwnerInfo/last mortgage.png" />
        <span> Last Mortgaged </span>
      </ion-col>
      <ion-col>
        {{propertyDetails?.lastMortgaged | currency:'INR':true:'4.2-2'}}
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="tabStatus=='basicInfo'" class="basic-info">
    <ion-row>
      <ion-col>
        <img [src]="scanPropertyPicture" height="380" style="width: 100%;" (click)="viewPhoto(scanPropertyPicture)" />
        <!-- <img src="https://teja9.kuikr.com/restatic/build/image/c_img6.jpg" height="330" style="width: 100%;" /> -->
        <!-- <img (click)="viewPhoto('https://mediacdn.99acres.com/6261/3/125223515M-1524302078.jpeg')" src="https://mediacdn.99acres.com/6261/3/125223515M-1524302078.jpeg"
        /> -->
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="currentAddress">
        {{currentLocationAddress}}
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="tabStatus=='gallery'" class="gallery">

    <ion-row>
      <ion-col>
        <img (click)="viewPhoto('http://virtiledge.com/gallery/property1.jpg')" src="http://virtiledge.com/gallery/property1.jpg"
        />
      </ion-col>
      <ion-col>
        <img (click)="viewPhoto('http://virtiledge.com/gallery/property2.jpg')" src="http://virtiledge.com/gallery/property2.jpg"
        />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img (click)="viewPhoto('http://virtiledge.com/gallery/property3.jpg')" src="http://virtiledge.com/gallery/property3.jpg"
        />
      </ion-col>
      <ion-col>
        <img (click)="viewPhoto('http://virtiledge.com/gallery/property4.jpg')" src="http://virtiledge.com/gallery/property4.jpg"
        />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img (click)="viewPhoto('http://virtiledge.com/gallery/property5.jpg')" src="http://virtiledge.com/gallery/property5.jpg"
        />
      </ion-col>
      <ion-col>
        <img (click)="viewPhoto('http://virtiledge.com/gallery/property6.jpg')" src="http://virtiledge.com/gallery/property6.jpg"
        />
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>


<ion-footer>
  <ion-toolbar *ngIf="tabStatus=='gallery' || tabStatus=='ownerInfo'">
    <ion-buttons text-center>
      <button ion-button class="navigation-btn {{interestedBtn?'btnDisabled':''}}" *ngIf="!interested" [disabled]="interestedBtn"
        (click)="showConfirm()">
        <span class="btn-text"> Interested In Property ? </span>
      </button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="tabStatus=='basicInfo'" class="basic-info-toolbar">
    <ion-grid>
      <ion-row>
        <ion-col class="property-info">
          <div class="icon">
            <img src="assets/imgs/PropertyDetails/BEDROOMS.png" />
          </div>
          <div class="total"> {{propertyDetails?.bedRoom}}</div>
        </ion-col>
        <ion-col class="property-info">
          <div class="icon">
            <img src="assets/imgs/PropertyDetails/bath.png" />
          </div>
          <div class="total"> {{propertyDetails?.bathRoom}}</div>
        </ion-col>
        <ion-col class="property-info">
          <div class="icon">
            <img src="assets/imgs/PropertyDetails/squarefeet.png" />
          </div>
          <div class="total"> {{propertyDetails?.pricePerSqrt}}</div>
        </ion-col>
        <ion-col class="property-info">
          <div class="icon">
            <img src="assets/imgs/PropertyDetails/sqftlot.png" />
          </div>
          <div class="total">{{propertyDetails?.lotAreaSquareFeet}}</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>