<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Symitar</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>


  <ion-card *ngIf="scanPropertyToggle">
      <img src="assets/imgs/scan.png" />
      <div class="card-title"><button ion-button full (click)="previewCamera()">
          <ion-icon name="search"></ion-icon> Scan Property
        </button></div>
    </ion-card>
 
  <ion-list *ngIf="!scanPropertyToggle">
    <ion-item *ngFor="let places of nearbyPlaces">
      <ion-avatar item-start>
        <img [src]="places.icon" width="20">
      </ion-avatar>
      <h2>{{places.types[0]}}</h2>
      <h3>{{places.distance}}</h3>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>

    <ion-title center (click)="viewMap()">View Map</ion-title>
  </ion-toolbar>
</ion-footer>

<ion-footer>
  <ion-toolbar>
    <p>{{currentLocation}}</p>
    <ion-buttons end>
      <button ion-button icon-right color="royal" (click)="viewMap()">
        View Map
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>