<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <h1>Easy Loan</h1>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" name="fullname" [(ngModel)]="user.fullname" id="" placeholder="Full Name">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" name="email" [(ngModel)]="user.email" id="" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" name="password" [(ngModel)]="user.password" id="" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" name="confpass" [(ngModel)]="user.confpass" id="" placeholder="Repeat Password">
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control input-underline input-lg" name="phone" [(ngModel)]="user.phone" id="" placeholder="Phone Number">
                    </div>
                    <a class="btn rounded-btn" (click)="signup()"> Sign Up </a>&nbsp;
                </div>
                <a class="btn rounded-btn" [routerLink]="['/signup']"> Register </a>&nbsp;
                <a class="btn rounded-btn" [routerLink]="['/login']"> Log in </a>
            </form>
        </div>
    </div>
</div>